
.nav-button-light{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    display: flex;
    padding-bottom: 0.4rem;
    inline-size: max-content;
    margin: 0.5rem 2rem;
    color: #49516F;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.nav-button-light:hover{
    color: #49516F;
    border-bottom: 4.5px solid #FF477E;
}
.active-light {
    color: #49516F;
    border-bottom: 4px solid #FF477E;
}

.box-plot{
    flex-grow: 1;
    display: flex;
    align-items: center;
}



