.form-field{
    background-color: #fff;
    border-radius: 12px;
    margin: 1rem 0.5rem;
    width: 50%;
}

.form-password{
    background-color: #fff;
    border-radius: 12px;
    margin: 1rem 0.5rem;
    width: 50%;
    visibility: hidden;
}