.img-style{
    width: 100%;
    height: 70%;
    border-radius: 7%;
    cursor: pointer;
}

.profile{
    display: flex;
    flex-direction: column;
    width:230px;
    height: 330px;
    margin-right: 10px;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 600px;
    height: 450px;
    padding: 2rem;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    height: 160px;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    height: 30px;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 14px;
    padding: .3rem 1rem;
    margin-left: .1rem;
    cursor: pointer;
  }
  
  .button-default {
    background: #FF477E;
    color: #fff;

  }

  .appoitment-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-left: 120px;
    margin-top: 130px;
    justify-content: space-around;
  }