.img-style{
    width: 100%;
    height: 70%;
    border-radius: 7%;
    cursor: pointer;
}

.profile{
    display: flex;
    flex-direction: column;
    width:230px;
    height: 330px;
    padding: 1rem;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity: .5;
  }
  
  .modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
  }
  
  .modal {
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 550px;
    height: 430px;
    padding: 2rem;
  }

  .client-modal{
    z-index: 100;
    background: white;
    position: relative;
    margin: 1.75rem auto;
    border-radius: 3px;
    max-width: 550px;
    height: 430px;
    padding: 1em;
    justify-content: space-between;
  }
  
  .modal-header {
    display: flex;
    justify-content: flex-end;
    height: 10px;
  }

  .appoitment-modal-header{
    display: flex;
    justify-content: center;
    margin-right: 130px;
    margin-top: -35px;
    height: 10px;
  }
  
  .modal-close-button {
    font-size: 1.4rem;
    margin-left: 500px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    opacity: .3;
    cursor: pointer;
    border: none;
    height: 10px;
  }
  
  button {
    font-size: .9rem;
    font-weight: 700;
    border: none;
    border-radius: 14px;
    padding: .3rem 1rem;
    margin-left: .1rem;
    cursor: pointer;
  }
  
  .button-default {
    background: #FF477E;
    width: 230px;
    color: #fff;

  }

  .appoitment-form{
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-left: 130px;
    margin-top: 284px;
    justify-content: space-between;
  }

  .headline{
    color: #FF477E;
    justify-content: center;
    display: flex;
    padding: 2rem;
  }

  .details-headline{
    justify-content: center;
    display: flex;
    padding: 1.5rem;
  }

  .phone-icon{
    padding-right: 0.5rem;
    color: black;
  }
  .price-icon{
    padding-right: 0.5rem;
    margin-top: 2px;
    color: black;
  }

  .modal-headline{
    justify-content: center;
    align-content: center;
    display: flex;
    margin-right: 110px;
    margin-top: 10px;
  }
  .appointment-modal-headline{
    justify-content: center;
    align-content: center;
    color: #FF477E;
    display: flex;
    margin-right:170px;
    margin-top: 27px;
  }

  .button-appoitment-modal{
    margin-bottom: 25px;
  }

  .supplier-additional-details{
    margin-top: 50px;
  }

  .price-details-headline{
    margin-top: 50px;
    justify-content: center;
    display:flex;
  }

  .login-form{
    display:flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-around;
  }

  .client-login-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
  }

  .client-login-headline{
    
    color: #FF477E;
    padding:2rem;
  }

  .client-fields{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 11px;
    
  }

  .client-button{
    padding:2rem;
  }

  /* supplier form side */

  

.supplier-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 200vw;
  height: 200vh;
  background-color: #000;
  opacity: .5;
}

.supplier-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.supplier-modal {
  z-index: 100;
  background: rgb(200, 200, 200);
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 750px;
  padding: 2rem;
}

.register-modal-close-button{
  font-size: 1.6rem;
  margin-top: -22px;
  font-weight: 700;
  line-height: 1;
  color:white;
  opacity: .9;
  cursor: pointer;
  border: none;
  height: 30px;
}

